.wrapper {
	max-height: 700px;
}

.header {
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 28px;
	font-weight: bold;
}

.main {
	padding: 0 25px;
	height: 630px;
	overflow-y: scroll;
}

.sort {
	&__title {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 15px;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		font-size: 20px;
	}

	&__input {
		width: 30px;
		height: 30px;
		margin-right: 20px;
	}
}

.filter {
	&__title {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 15px;
		margin-top: 35px;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		font-size: 20px;
	}

	&__input {
		width: 30px;
		height: 30px;
		margin-right: 20px;
	}
}
