.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.logo {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
}

.button {
	height: 30px;
	width: 75px;
	margin-left: 20px;
}
