.wrapper {
	display: grid;
	grid-template-areas:
		'h h h'
		'a m m';
	grid-template-rows: 90px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 35px;
	column-gap: 35px;
	margin-bottom: 60px;
	width: 100%;
}

.wide {
	grid-template-areas:
		'h'
		'm';
	grid-template-columns: 100%;
	column-gap: 0;
	margin-bottom: 0;
}

header {
	grid-area: h;
}

aside {
	grid-area: a;
	background-color: #eee;
	border-radius: 15px;
	width: 100%;
	max-height: 750px;
	position: sticky;
	top: 75px;
}

main {
	grid-area: m;
	background-color: #eee;
	border-radius: 15px;
	min-height: 750px;
	width: 100%;
}
